body{
    background-color: #311D1D;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    max-height: 3480px;
    margin: none;
    float: none;
    overflow-x:visible;
}
.other-pages{
    font-size: 43px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#FFFFFF;
}

.header{
    width: 1920px;
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
#hh-logo{
    width: 527px;
    grid-column: 1 / 2;
}

#navbar{
    grid-column: 2 / 3;
    grid-row: 1;
    margin: 40px 200px;
    display:grid;
    grid-gap:40px;
    grid-template-columns: repeat(6, 1fr);
}
li, a{
    list-style-type: none;
    font-size: 43px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#FFFFFF;
}
#landing{
    background-image: url("../img/knight_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 350px;
    display: grid;
    grid-column-gap: 250px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 570px;
}
#bb-show-ad{
    grid-column: 1 / 2;
    padding: 30px 0px;
    background-color: rgba(355,355,355,.6);
}
h1{
    text-align: center;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#311D1D;
}
h3{
    text-align: center;
    font-size: 43px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#311D1D;
}
.merch-button{
    margin: 40px 0px;
    margin-left: 10px;
    background-color:#311D1D;
    border-radius: 24px;
    padding: 10px 30px;
    box-shadow:0px 5px 5px #4b4b4b;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#FFFFFF;
}
#hh-info{
    grid-column: 2 / 3;
    margin: -170px 100px;
    padding: 15px 10px;
    background-color: rgba(355,355,355,.6);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#hh-headshot{
    justify-self: center;
    align-self: center;
    height: 689px;
}
#photographer{
    z-index: 1;
    align-self: center;
    width: 430px;
    padding: 15px;
    background-color: #311D1D;
    font-size: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#ffffff;
}
#bb-shop{
    background-color: #989F98;
    padding: 50px 150px;
    display: grid;
    grid-column-gap: 250px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 570px;
}
#shop-book{
    grid-column: 1 / 2;
    padding: 40px 30px;
    background-color: rgba(355,355,355,.6);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px;
}
#bb-book{
    grid-column: 1 / 2;
    margin: 20px;
    margin-left: 90px;
    height:445px;
}
#book-info{
    grid-column: 2 / 3;
    margin-top: -20px;
}
#shop-boxset{
    grid-column: 2 / 3;
    padding: 40px 30px;
    background-color: rgba(355,355,355,.6);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px;
}
#bb-boxset{
    grid-column: 1 / 2;
    margin-top: -20px;
    margin-left: 20px;
    height:500px;
}
#boxset-info{
    grid-column: 2 / 3;
    margin-top: -20px;
}
.books-button{
    margin: -15px 0px 0px 90px;
    background-color:#311D1D;
    border-radius: 24px;
    padding: 10px 30px;
    box-shadow:0px 5px 5px #4b4b4b;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#FFFFFF;
}
#whats-new{
    padding: 100px 200px;
    border-bottom: solid;
    border-color: #989F98;
    display: grid;
    grid-column-gap: 100px;
    grid-template-columns: 1fr 1fr;
}
#news{
    grid-column: 1 / 2;
    padding: 40px 30px;
    margin: 30px;
    background-color: rgba(355,355,355,.6);
    border-radius: 5%;
    font-size: 35px;
    text-align: center;
}
#blog{
    grid-column: 2 / 3;
    padding: 40px 30px;
    margin: 30px;
    background-color: rgba(355,355,355,.6);
    border-radius: 5%;
    font-size: 35px;
    text-align: center;
}
.read-more{
    font-size: 43px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#515151;
}
#contact-us{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 43px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#FFFFFF;
}
#submit-message{
    margin: 10px 200px;
    border-radius: 24px;
    padding: 10px 30px;
    background-color:#311D1D;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: #FFFFFF;
    color:#FFFFFF;
}
.footer{
    padding: 10px;
    background-color: #989F98;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
