body{
    background-color: #311D1D;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    max-height: auto;
    margin: none;
    float: none;
    overflow-x:visible;
}
.other-pages{
    font-size: 43px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#FFFFFF;
}

.header{
    width: 100%;
    display: grid;
    grid-column-gap: 6vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
#hh-logo{
    width: 30vw;
    grid-column: 1 / 2;
}

#navbar{
    grid-column: 2 / 3;
    grid-row: 1;
    padding: 2vw 1vh;
    display:grid;
    grid-gap:1vw;
    grid-template-columns: repeat(6, 1fr);
}
li, a{
    list-style-type: none;
    font-size: 2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#FFFFFF;
}
#landing{
    background-image: url("../img/knight_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5vh 8vw;
    display: grid;
    grid-column-gap: 4vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 55vh;
}
#bb-show-ad{
    grid-column: 1 / 2;
    padding: 3vh 3vw;
    background-color: rgba(355,355,355,.6);
}
h1{
    text-align: center;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#311D1D;
}
h3{
    text-align: center;
    font-size: 43px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#311D1D;
}
.merch-button{
    margin: 7vh 0vw;
    margin-left: 1vw;
    background-color:#311D1D;
    border-radius: 1vw;
    padding: 2vh 1vw;
    box-shadow:0vh 0.5vh 0.5vh #4b4b4b;
    font-size: 1.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#FFFFFF;
}
#hh-info{
    grid-column: 2 / 3;
    margin: -2vh 7vw;
    padding: 3vh 1vw;
    background-color: rgba(355,355,355,.6);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#hh-headshot{
    justify-self: center;
    align-self: center;
    height: 45vh;
}
#photographer{
    z-index: 1;
    align-self: center;
    width: 20vw;
    padding: 1vh;
    background-color: #311D1D;
    font-size: 0.8vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#ffffff;
}
#bb-shop{
    background-color: #989F98;
    padding: 4vh 7vw;
    display: grid;
    grid-column-gap: 8vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh;
}
#shop-book{
    grid-column: 1 / 2;
    padding: 5vh 3vw;
    background-color: rgba(355,355,355,.6);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh;
}
#bb-book{
    grid-column: 1 / 2;
    margin: 1vw;
    margin-left: 1vw;
    height:35vh;
}
#book-info{
    grid-column: 2 / 3;
    margin-top: -1vh;
}
#shop-boxset{
    grid-column: 2 / 3;
    padding: 5vh 3vw;
    background-color: rgba(355,355,355,.6);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh;
}
#bb-boxset{
    grid-column: 1 / 2;
    margin-top: -3vh;
    margin-left: 2vw;
    height: 30vh;
}
#boxset-info{
    grid-column: 2 / 3;
    margin-top: -1vh;
}
.books-button{
    margin: -1vh 0 0 7vh;
    background-color:#311D1D;
    border-radius: 1vw;
    padding: 1vh 1.5vw;
    box-shadow: 0vh 0.5vh 0.5vh #4b4b4b;
    font-size: 1.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#FFFFFF;
}
#whats-new{
    padding: 5vh 6vw;
    border-bottom: solid;
    border-color: #989F98;
    display: grid;
    grid-column-gap: 4vw;
    grid-template-columns: 1fr 1fr;
}
#news{
    grid-column: 1 / 2;
    padding: 2vh 2vw;
    margin: 1vh 2vw;
    background-color: rgba(355,355,355,.6);
    border-radius: 3vh;
    font-size: 2vh;
    text-align: center;
}
#blog{
    grid-column: 2 / 3;
    padding: 2vh 2vw;
    margin: 1vh 2vw;
    background-color: rgba(355,355,355,.6);
    border-radius: 3vh;
    font-size: 2vh;
    text-align: center;
}
.read-more{
    font-size: 1vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#515151;
}
#contact-us{
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#FFFFFF;
}
#submit-message{
    margin: -1vh 0 0 7vh;
    background-color:#311D1D;
    border-radius: 1vw;
    padding: 1vh 1.5vw;
    font-size: 1.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: #FFFFFF;
    color:#FFFFFF;
}
.footer{
    padding: 1vw;
    background-color: #989F98;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
