body{
    background-color: #311D1D;
    max-width: 100%;
    max-height: 3480px;
    margin: none;
    float: none;
    overflow-x:hidden;
    /*display: grid;
    grid-column-gap: 40px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(20, 1fr);*/
}
.other-pages{
    font-size: 43px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#FFFFFF;
}

.header{
    width: 1920px;
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
#hh-logo{
    width: 527px;
    grid-column: 1 / 2;
}

#navbar{
    grid-column: 2 / 3;
    grid-row: 1;
    width: 1700px;
    margin: 40px 200px;
    display:grid;
    grid-gap:40px;
    grid-template-columns: repeat(6, 1fr);
    list-style-type: none;
}
li, a{
    font-size: 43px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#FFFFFF;
}
#landing{
    background-image: url("../img/knight_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 350px;
    display: grid;
    grid-column-gap: 250px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 570px;
}
#bb-show-ad{
    grid-column: 1 / 2;
    padding: 30px 0px;
    background-color: rgba(355,355,355,.6);
}
h1{
    text-align: center;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#311D1D;
}
h3{
    text-align: center;
    font-size: 43px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#311D1D;
}
.merch-button{
    margin: 40px 0px;
    margin-left: 10px;
    background-color:#311D1D;
    border-radius: 24px;
    padding: 10px 30px;
    box-shadow:0px 5px 5px #4b4b4b;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#FFFFFF;
}
#hh-info{
    grid-column: 2 / 3;
    margin: -170px 100px;
    padding: 15px 10px;
    background-color: rgba(355,355,355,.6);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#hh-headshot{
    justify-self: center;
    align-self: center;
    height: 689px;
}
#photographer{
    z-index: 1;
    align-self: center;
    width: 430px;
    /*margin-left: 200.3px;
    margin-top: -100px;*/
    padding: 15px;
    background-color: #311D1D;
    font-size: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#ffffff;
}
#bb-shop{
    background-color: #989F98;
    padding: 50px 150px;
    display: grid;
    grid-column-gap: 250px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 570px;
}
#shop-book{
    grid-column: 1 / 2;
    padding: 40px 30px;
    background-color: rgba(355,355,355,.6);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px;
}
#bb-book{
    grid-column: 1 / 2;
    margin: 20px;
    margin-left: 90px;
    height:445px;
}
#book-info{
    grid-column: 2 / 3;
    margin-top: -20px;
}
#shop-boxset{
    grid-column: 2 / 3;
    padding: 40px 30px;
    background-color: rgba(355,355,355,.6);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px;
}
#bb-boxset{
    grid-column: 1 / 2;
    margin-top: -20px;
    margin-left: 20px;
    height:500px;
}
#boxset-info{
    grid-column: 2 / 3;
    margin-top: -20px;
}
.books-button{
    margin: -15px 0px 0px 90px;
    background-color:#311D1D;
    border-radius: 24px;
    padding: 10px 30px;
    box-shadow:0px 5px 5px #4b4b4b;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#FFFFFF;
}
#whats-new{
    padding: 100px 200px;
    display: grid;
    grid-column-gap: 100px;
    grid-template-columns: 1fr 1fr;
}
#news{
    grid-column: 1 / 2;
    padding: 40px 30px;
    margin: 30px;
    background-color: rgba(355,355,355,.6);
    border-radius: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px;
}
#blog{
    grid-column: 2 / 3;
    padding: 40px 30px;
    margin: 30px;
    background-color: rgba(355,355,355,.6);
    border-radius: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px;
}






/*body{
    background-color:#311D1D;
}
.page{
    display: grid;
    gap: 30px;
    width: 100%;
    height: 2700px;
    grid-template-columns: 1.5em 1fr 1fr 1fr 1fr 1.5em;
    grid-template-rows: repeat(20, 1fr);
}

.header {
    background-color:#311D1D;
    max-width: auto;
    height: 150px; 
    display:grid;
    grid-template-columns: repeat(8, 1fr);

}
.page > #landing{
    grid-area: landing;
    background-image:url("../img/knight_background.png");
    background-repeat: no-repeat;
}
.header > #hh-logo{
    grid-column-start: 1;
    grid-column-end: 3;

}
.header > #nav1{
    grid-column-start: 4;
    grid-column-end: 5;
}

button{
    background-color:#311D1D;
    border-color: #FFFFFF;
    border-width: 1px;
    border-radius: 24px;
    padding: 10px 30px;
    font-size: 43px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#FFFFFF;
}

.page > #bb-shop{
    grid-area: shop;
    background-color:#B5C1B5;
}
#shop-book{
    background-color:#d1d6d0;
}
#shop-boxset{
    background-color:#d1d6d0;
}
.page > #whats-new{
    grid-area: new; 
    border-bottom: solid;
    border-color:#B5C1B5;
    border-width:2px;
}
.page > #contact-us {
    grid-area: contact;
    background-color:#311D1D;
    font-size: 29px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#FFFFFF;
}

.footer {
    background-color:#B5C1B5;
}*/
